* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    height: 100vh;
    background: linear-gradient(to right, purple, orange, cyan);
  }
  
  .slider-for img {
    margin: 30px auto;
    height: 400px;
    border: 2px solid;
    border-radius: 50%;
    min-width: 800px;
  }
  
  .slider-nav img {
    height: 100px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .slick-prev {
    position: absolute;
    left: 5px;
    z-index: 1;
  }
  
  .slick-next {
    right: 0;
  }
  
  .slick-prev,
  .slick-next {
    height: 40px;
    width: 40px;
  }
  
  .slick-prev::before,
  .slick-next::before {
    font-size: 30px;
  }
  
  .slick-list {
    margin: 0 50px;
    padding: 0 !important;
  }
  
  .slider-nav img {
    cursor: pointer;
  }
  